@model IEnumerable<DataHandler.Symptom>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disease.Disease_Name)
                @Html.DisplayNameFor(model => model.symptom1)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease.Disease_Name)
                @Html.DisplayFor(modelItem => item.symptom1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  @*id=item.Disease_Id*@ }) |
                @Html.ActionLink("Details", "Details", new {  @*id=item.PrimaryKey*@  }) |
                @Html.ActionLink("Delete", "Delete", new {  @*id=item.PrimaryKey*@  })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
