@model IEnumerable<DataHandler.Disease>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Diseases</title>
</head>
<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">Medical Encyclopedia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                @*<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>*@
                                @{
                                    <a class="dropdown-item" href="@Url.Action("LogOff", "Account")"><i class="fas fa-power-off mr-2"></i>Logout</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="@Url.Action("Index","Home")">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                <!--Menu-->
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-chart-bar"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">

                                        </li>

                                        <li class="nav-item">

                                        </li>
                                    </ul>
                                </div>
                            </li>



                            <li class="nav-item">
                            @*<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Prescriptions")" aria-controls="submenu-2"><i class="fa fa-fw fa-prescription-bottle-alt"></i>Prescriptions</a>
                            </li>*@
                            <!-- <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-prescription-bottle-alt"></i>Prescriptions</a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/cards.html">Cards <span class="badge badge-secondary">New</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/general.html">General</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/carousel.html">Carousel</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/listgroup.html">List Group</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/typography.html">Typography</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/accordions.html">Accordions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/tabs.html">Tabs</a>
                                    </li>
                                </ul>
                            </div> -->
                            </li>
                            <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PredictDisease","Diseases")" aria-controls="submenu-2"><i class="fas fa-fw fa-question-circle"></i>Predict Disease</a>
                            </li>
                            <!-- <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-question-circle"></i>Predict Disease</a>
                            <div id="submenu-5" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/general-table.html">General Tables</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/data-tables.html">Data Tables</a>
                                    </li>
                                </ul>
                            </div> -->
                            </li>
                            <li class="nav-item">
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("Index", "Diseases")"><i class="fas fa-fw fa-chart-pie"></i>Manage Disease</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("Index", "Patients")"><i class="fas fa-fw fa-chart-pie"></i>Manage Patients</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("Index", "Medicins")"><i class="fas fa-fw fa-chart-pie"></i>Manage Medicins</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("GeneralIndex", "Reports")"><i class="fas fa-fw fa-chart-pie"></i>Reports</a>
                            </li>
                            <!-- <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Manage Disease</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/chart-c3.html">C3 Charts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/chart-chartist.html">Chartist Charts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/chart-charts.html">Chart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/chart-morris.html">Morris</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/chart-sparkline.html">Sparkline</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/chart-gauge.html">Guage</a>
                                    </li>
                                </ul>
                            </div> -->
                            </li>





                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Diseases</h2>
                            </div>
                        </div>
                    </div>
                    <div class="ecommerce-widget">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" style="padding: 15px;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-inline-block">
                                            <h5 class="text-muted">Total Prescriptions</h5>
                                            <h2 class="mb-0"> 36</h2>
                                        </div>
                                        <div class="float-right icon-circle-medium  icon-box-lg  bg-primary-light mt-1">
                                            <i class="fa fa-medkit fa-fw fa-sm text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" style="padding: 15px;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-inline-block">
                                            <h5 class="text-muted">Prescriptions with good results</h5>
                                            <h2 class="mb-0"> 7</h2>
                                        </div>
                                        <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                                            <i class="fa fa-thumbs-up fa-fw fa-sm text-info"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="width:100%;padding: 15px;">
                                <div class="card">
                                    @*<h5 class="card-header">Presciriptions grouped by Patients (Query to fill the table)</h5>*@
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">

                                                        <!-- <th class="border-0">Image</th> -->
                                                        <th class="border-0">Disease ID</th>
                                                        <th class="border-0">Disease Name</th>





                                                        @*<th class="border-0">Edit</th>
                                                        <th class="border-0">Details</th>
                                                        <th class="border-0">Delete</th>
                                                        <th class="border-0">Symptoms</th>*@



                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.Disease_Id</td>
                                                            <td>@item.Disease_Name</td>



                                                            @*<td>
                                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Symptoms", "Index", "Symptoms", new { ide = item.Disease_Id }, null)|

                                                            </td>*@

                                                            @*<td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>*@
                                                        </tr>
                                                    }

                                                    @*<tr>
                                                        <td colspan="9"><a href="@Url.Action("AddPatientDisease", "Diseases")" class="btn btn-outline-light float-right">ADD Disease</a></td>
                                                    </tr>*@
                                                </tbody>
                                            </table>
                                            <form action="AddDis" method="POST">

                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4>Select the Disease</h4>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-prepend"></span>
                                                                @*<input name="disease" type="text" placeholder="Symptoms" class="form-control">*@
                                                                @Html.DropDownList("Diseases",null,"selcect disease",new {required=true ,@class= "form-control",@name="dise",@id="myproject" })
                                                                <input type="hidden" id="hdnProjectName" name="ProjectName" />
                                                                

                                                            </div>
                                                            <div>
                                                                <input type="submit" value="ADD" />
                                                            </div>

                                                            <!-- <input type="submit" value="Get a prediction" class="btn btn-outline-light float-right" /> -->
                                                            @*<a href="@Url.Action("GEtPrediction", "Diseases", new { str = })" class="btn btn-outline-light float-right">Get a prediction</a>*@
                                                        </div>

                                                        @*<div class="form-group">
                        @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Disease_Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Disease_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                                                    </div>
                                                </div>
                                            </form>
                                            <script>
                                            $("#myproject").on("change", function () {
                                                $("#hdnProjectName").val($(this).find("option:selected").text());

                                            });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <!-- jquery 3.3.1 -->
        <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <!-- bootstap bundle js -->
        <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <!-- slimscroll js -->
        <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
        <!-- main js -->
        <script src="~/Content/assets/libs/js/main-js.js"></script>
        <!-- chart chartist js -->
        <script src="~/Content/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
        <!-- sparkline js -->
        <script src="~/Content/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
        <!-- morris js -->
        <script src="~/Content/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
        <script src="~/Content/assets/vendor/charts/morris-bundle/morris.js"></script>
        <!-- chart c3 js -->
        <script src="~/Content/assets/vendor/charts/c3charts/c3.min.js"></script>
        <script src="~/Content/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
        <script src="~/Content/assets/vendor/charts/c3charts/C3chartjs.js"></script>
        <script src="~/Content/assets/libs/js/dashboard-ecommerce.js"></script>
</body>
</html>
