@model DataHandler.Patient

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Add Patient</title>
</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">Medical Encyclopedia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>

                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                @*<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>*@
                                @{
                                    <a class="dropdown-item" href="@Url.Action("LogOff", "Account")"><i class="fas fa-power-off mr-2"></i>Logout</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="@Url.Action("Index","Home")">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                <!--Menu-->
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-chart-bar"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">

                                        </li>

                                        <li class="nav-item">

                                        </li>
                                    </ul>
                                </div>
                            </li>



                            <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Prescriptions")" aria-controls="submenu-2"><i class="fa fa-fw fa-prescription-bottle-alt"></i>Prescriptions</a>
                            </li>
                            <!-- <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-prescription-bottle-alt"></i>Prescriptions</a>
                        <div id="submenu-2" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/cards.html">Cards <span class="badge badge-secondary">New</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/general.html">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/carousel.html">Carousel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/listgroup.html">List Group</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/typography.html">Typography</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/accordions.html">Accordions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/tabs.html">Tabs</a>
                                </li>
                            </ul>
                        </div> -->
                            </li>
                            <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav-link" href="#" aria-controls="submenu-2"><i class="fas fa-fw fa-question-circle"></i>Predict Disease</a>
                            </li>
                            <!-- <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-question-circle"></i>Predict Disease</a>
                        <div id="submenu-5" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/general-table.html">General Tables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/data-tables.html">Data Tables</a>
                                </li>
                            </ul>
                        </div> -->
                            </li>
                            <li class="nav-item">
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("Index", "Diseases")"><i class="fas fa-fw fa-chart-pie"></i>Manage Disease</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("Index", "Patients")"><i class="fas fa-fw fa-chart-pie"></i>Manage Patients</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("Index", "Medicins")"><i class="fas fa-fw fa-chart-pie"></i>Manage Medicins</a>
                            </li>
                            <!-- <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Manage Disease</a>
                        <div id="submenu-3" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/chart-c3.html">C3 Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/chart-chartist.html">Chartist Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/chart-charts.html">Chart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/chart-morris.html">Morris</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/chart-sparkline.html">Sparkline</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/chart-gauge.html">Guage</a>
                                </li>
                            </ul>
                        </div> -->
                            </li>





                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Add Patient</h2>
                            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <!-- <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Patients</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Alive</li> -->
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- four widgets   -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- total views   -->
                        <!-- ============================================================== -->

                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="section-block" id="inputgroup">
                                
                                <!-- <p>Easily extend form controls by adding text, buttons, or button groups on either side of textual inputs, custom selects, and custom file inputs.</p> -->
                            </div>
                            <div class="card">
                                @{

                                    //List<string> list = new List<string>();
                                    List<SelectListItem> gender = new List<SelectListItem>();
                                    List<SelectListItem> Status = new List<SelectListItem>();
                                    List<SelectListItem> Countries = new List<SelectListItem>();

                                    Countries.Add(new SelectListItem{
                                        Text = "Pakistan",

                                        Value = "Pakistan",
                                    });
                                    Countries.Add(new SelectListItem
                                    {
                                        Text = "China",

                                        Value = "China",
                                    });
                                    Countries.Add(new SelectListItem
                                    {
                                        Text = "India",

                                        Value = "India",
                                    });
                                    Countries.Add(new SelectListItem
                                    {
                                        Text = "Afghanistan",

                                        Value = "Afghanistan",
                                    });

                                    gender.Add(new SelectListItem
                                    {
                                        Text = "Male",
                                        Value = "Male",
                                    });
                                    gender.Add(new SelectListItem
                                    {
                                        Text = "FeMale",
                                        Value = "FeMale",
                                    });
                                    Status.Add(new SelectListItem
                                    {
                                        Text = "Alive",
                                        Value = "Alive",
                                    });
                                    Status.Add(new SelectListItem
                                    {
                                        Text = "Dead",
                                        Value = "Dead",
                                    });
                                    //list.Add(item.IdeaId);


                                    string fin = "";
                                    //IEnumerable<string> lists = list.AsEnumerable();
                                }
                                <!-- <h5 class="card-header">Input Groups</h5> -->
                                <div class="card-body">
                                    
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.S_Date, htmlAttributes: new { @class = "text-muted" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.S_Date, new { htmlAttributes = new { @type = "date", @class = "form-control date-inputmask", @id = "date-mask" } })
                                                    @Html.ValidationMessageFor(model => model.S_Date, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.E_Date, htmlAttributes: new { @class = "text-muted" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.E_Date, new { htmlAttributes = new { @type = "date", @class = "form-control date-inputmask", @id = "date-mask" } })
                                                    @Html.ValidationMessageFor(model => model.E_Date, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "text-muted" })
                                                <div class="col-md-10">
                                                    @*@Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @Html.DropDownList("Area", Countries, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "text-muted" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            @*<div class="form-group">
                                                @Html.LabelFor(model => model.Med_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("Med_Name", lst, htmlAttributes: new { @class = "form-control" })

                                                    @Html.ValidationMessageFor(model => model.Med_Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "text-muted" })
                                                <div class="col-md-10">
                                                    @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @Html.DropDownList("Gender", gender, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "text-muted" })
                                                <div class="col-md-10">
                                                    @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @Html.DropDownList("Status", Status, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Create" class="btn btn-default" />
                                                </div>
                                            </div>



                                            
                                            







                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- ============================================================== -->
                    <!-- end wrapper  -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end main wrapper  -->
                <!-- ============================================================== -->
                <!-- Optional JavaScript -->
                <!-- jquery 3.3.1 -->
                <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
                <!-- bootstap bundle js -->
                <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
                <!-- slimscroll js -->
                <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
                <!-- main js -->
                <script src="~/Content/assets/libs/js/main-js.js"></script>
                <!-- chart chartist js -->
                <script src="~/Content/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
                <!-- sparkline js -->
                <script src="~/Content/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
                <!-- morris js -->
                <script src="~/Content/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
                <script src="~/Content/assets/vendor/charts/morris-bundle/morris.js"></script>
                <!-- chart c3 js -->
                <script src="~/Content/assets/vendor/charts/c3charts/c3.min.js"></script>
                <script src="~/Content/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
                <script src="~/Content/assets/vendor/charts/c3charts/C3chartjs.js"></script>
                <script src="~/Content/assets/libs/js/dashboard-ecommerce.js"></script>
</body>
</html>
